<div class = "main_top">
  <div class = "group_name">
    hoge huga
  </div>
  <div class = "chat_end_btn">
    <a href="#">チャットを終了する</a>
  </div>
</div>

<div class = "main_main">
  <div class = "messages">
    <div class = "upper-message">
      <div class = "who">
        Tom
      </div>
      <div class = "when">
        2020/3/31(Wed) 12:34:30
      </div>
    </div>
    <div class = "lower-message">
      <div class = "message">
        おはよう
      </div>
    </div>
    <div class = "upper-message">
        <div class = "who">
        Sim
      </div>
      <div class = "when">
        2020/3/31(Wed) 12:34:40
      </div>
    </div>
    <div class = "lower-message">
      <div class = "message">
        こんにちは
      </div>
    </div>
  </div>
</div>

<div class = "main_bottom">
  <div class = "form-input">
    <input class= "form-message" placeholder="type a massage">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class= "form-submit" type= "submit" placeholder="send">
</div>